.project {
    background-color:#96b8d4;
    display: flex;
    align-items: center;
    justify-content: center;

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .item{
                width: 700px;
                background-color: white;
                display: flex;
                align-items: center;

                .left {
                    flex: 2;
                    padding-left: 10px;

                    .project_into {
                        text-align: center;
                        font-size: small;
                    }

                    .depict {
                        font-size: smaller;
                        color: black;
                        margin-bottom: 30px;
                    }
                }

                .right {
                    flex: 8;

                    img {
                        width: 100%;
                        float: center;
                    }
                }

            }
        }
    }
}