.intro {
    display: flex;
    // height: 100vh;
    margin: auto;
    background-color: #bcd0e0;
}

.imgContainer {
    width: 600px;
    height: 500px;
    border-radius: 50%;
    display:flow-root;
    align-items: flex;
    float: left;
    margin-top: 80px;
    margin-left: 100px;

    img {
        height: 90%;
    }
}

.i-intro-wrapper {
    padding-top: 150px;
    padding-left:150px;
    text-align: center;
}

.i-greeting {
    font-size: 250%;
    font-weight: 400;
}

.i-name {
    font-size: 350%;
    font-weight: 700;
}

.i-title-item {
    font-size: 200%;
    font-weight: 400;
}