.intro {
    display: flex;
    // height: 100vh;
    margin: auto;
    background-color: #bcd0e0;
}

.i-intro-wrapper {
    padding:50px;
    text-align: center;
}

.i-greeting {
    font-size: 150%;
}

.i-name {
    font-size: 300%;
}

.i-title-item {
    font-size: larger;
}